/* borders  */
ul {
    outline: 1px solid royalblue;
    outline-offset: -1px; 
}

ul * {
    outline: 1px dotted greenyellow ;
    outline-offset: -1px; 
}
.hide {
    display: none!important;
}
#ltBlock2131531453 .lt-block-wrapper {
    margin-bottom: 35px;
}

#ltBlock2131531453 .container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
}

.team-list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    margin-bottom: 20px;
}

.person-card {
    max-width: 420px;
    min-width: 215px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid #50AFD8;
}

.person-card__title {
    font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
    font-stretch: 87%;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.05em;
    text-transform: none;
    width: 100%;
    text-align: left;
    margin-bottom: 7px;

}
.person-card__subtitle {
    font-family: "YuGothicUI Semibold", Arial, 'Open Sans', sans-serif;
    font-size: 0.7rem;
    line-height: 1em;
    font-style: none;
    flex-grow: 1;
    font-weight: 500;
}
.person-card__description {
    font-size: 0.78rem;
    line-height: 1.1em;
}

.person-card__img-container {
    width: 75px;
    /* padding-top: 15px; */
    flex-shrink: 0;
    margin-right: 10%;
}

#ltBlock2131531453 .person-card__img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

#ltBlock2131531453 .person-card__img:hover {
    transform: scale(2) translate(30px, 25px);
    transition: ease-in-out 0.2s;

}

.person-card__row_header {
    display: flex;
    align-items: first baseline;
    margin-bottom: 10px;
    margin-top: 10px;
}

.person-card__row {
    /* display: flex;
    flex-direction: column; */
    padding-left: 15px;
    padding-right: 15px;
}

.person-card__subtitle {
    margin-bottom: 10px;
    text-align: center;
    /* align-self: center; */
}

.person-card__description {
    margin-bottom: 10px;
}

.team-list-btn__show {
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    background-color:  #50AFD8;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
}

@media screen and (min-width: 480px) {
    .person-card__img-container {
        width: 100px;
        margin-right: 10%;
    }

    #ltBlock2131531453 .person-card__img {
        width: 100px;
        height: 100px;
    }

    .person-card__title {
        font-size: 1.28rem;
    }
    .person-card__subtitle {
        font-size: 0.78rem;
    }
    .person-card__description {
        font-size: 0.89rem;
    }
}


@media screen and (min-width: 768px) {
    #ltBlock2131531453 .lt-block-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }
    #ltBlock2131531453 .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .team-list {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    .team-list-btn__show {
        max-width: none;
        width: fit-content;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media screen and (min-width: 900px) {
    #ltBlock2131531453 .lt-block-wrapper {
        padding-left: 65px;
        padding-right: 65px;
        margin-bottom: 45px;
    }

   
    #ltBlock2131531453 .container {
        padding-left: 45px;
        padding-right: 45px;
    }

    .team-list {
        grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    }

    .person-card__img-container {
        width: 75px;
    }

    #ltBlock2131531453 .person-card__img {
        width: 75px;
        height: 75px;
    }

    .person-card__title {
        font-size: 1.2rem;
    }

    .person-card__title span {
        font-size: 0.9em;
    }
    .person-card__subtitle {
        font-size: 0.7rem;
    }
    .person-card__description {
        font-size: 0.78rem;
    }
}