#ltBlock2131531499 .lt-block-wrapper {
    margin-bottom: 0px;
}

#ltBlock2131531499 .lt-block-wrapper {
    margin: 0 auto 20px;
    max-width: 1050px;
    min-width: 320px;
    padding: 0 20px;
}

#ltBlock2131531499 .container {
    margin: 0 0px;
    padding: 20px;
    background-color: #FCFEFE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.class-list * {
    outline: 1px dotted mediumseagreen;
    outline-offset: -1px;
}

.class-list__item:not(:last-child) {
    margin-bottom: 15px;
    border-radius: 15px;
    padding-bottom: 10px;
}

#ltBlock2131531499 .class-card__title {
    font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
    font-stretch: 87%;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.3em;
    /* text-transform: uppercase; */
    text-align: center;
}
#ltBlock2131531499 .class-card__text {
    font-size: 0.89rem;
    line-height: 1.2em;
    text-align: left;
}

.class-card .class-card__img-wrapper{
    height: 90px;
    text-align: center;
}

.class-card img {
    height: 78%;
}
.class-card__title,
.class-card__text {
    margin-bottom: 10px;
}

.class-card__link-container {
    height: 40px;
    text-align: center;
    padding-top: 8px;
    margin: 0 15px;
    border-radius: 5px;
}

.class-card__link {
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    #ltBlock2131531499 .lt-block-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 900px) {
    
    #ltBlock2131531499 .lt-block-wrapper {
        padding-left: 65px;
        padding-right: 65px;
        margin-bottom: 45px;
    }

}