:root {
  --text-color: #00A2D3;
}

@font-face {
  font-family: 'Bahnschrift';
  src:  url("/Bahnschrift.woff"),
        url("/Bahnschrift.woff2");

  font-stretch: condensed;
  font-weight: bold;      
}



.container {
  /* display: flex; */
  margin: 0 auto;
  max-width: 1200px;
  border: 1px solid magenta;
  /* justify-content: center;
  flex-wrap: wrap; */
}


.lt-tsr-content {
  position: relative;
  /* height: fit-content; */
  min-width: 280px;
  /* height: 505px; */
  height: 215px;
  border: 3px solid var(--text-color);
  border-radius: 15px;
  margin-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

  /* padding: 20px; */
  /* margin-left: 20px; */
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lt-tsr-content p {
  margin: 0;
  font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
  font-stretch: 50%;
}
.image-card {
  position: absolute;
  top: -45px;
  left: 45px;
  width: 120px;
  height: 120px; 
  border-radius: 50%; 
}
.image-wrapper {
  width: 100%;
  height: 100%;
}
.image-card .image.lazyloaded {
  width: 100%;
  height: 100%;
  background-color: blue;
  background-image: url("./teacher1.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130px 130px;
  border-radius: 50%;
}

.f-header {
  margin-top: 70px;
}

.f-header p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.f-subheader {
  margin-bottom: 10px;
  color: var(--text-color);
}

.f-subheader p:nth-child(2) {
  display: none;
}

.f-description {
  display: none;
}




@media screen and (min-width: 480px) {

  .lt-tsr-content {
    max-width: 320px;
  }
}

